@model IEnumerable<Domain.Models.Transaction>

@{
    ViewBag.Title = "Financial";
}

<h2>Transaction History</h2>
<h3>Your Worth: @string.Format("{0:C}", ViewBag.worth)</h3>

@Html.Partial("_FinancialGridPartial")
