@{
    ViewBag.Title = "Welcome to MMA Manager";
}

<div class="jumbotron">
    <h1>MMA Manager</h1>
    <p class="lead">Think you can spot MMA talent? Act as an MMA manager and sign and release UFC fighters from contracts with you</p>
    <p class="lead">Sign upcoming talent cheap, make money when they fight, and even more when they win and get a bonus!</p>
    <p class="lead">Sell them when they are up in the ranking to hit the big payday!</p>  
</div>
