@model IEnumerable<Domain.Models.Fighter>

@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model);
    var excludedColumns = new List<string>
    {
        "FighterId", "Wins", "Draws", "Loses", "NoContest", "IsActive"
    };
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="btn-group" role="group" aria-label="..." style="display: inline-block; float: right">
    <button type="button" class="btn btn-default">Active</button>
    <button type="button" class="btn btn-default">Inactive</button>
</div>
<div>
    @Html.Partial("FightersManagementGridPartialView", Model)
</div>



